@mixin cover-image($photo-url) {
  background-image: url($photo-url);
  background-position: center center;
  background-size: cover;
}

.banner {
  @include clearfix;
}

.banner-image {
  @include cover-image("http://placekitten.com/g/1180/400");
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.story-nav {
  @include outer-container;

  ul {
    margin: 0;

    a {
      margin: 0;
    }

    li {
      @include cover-image("http://placekitten.com/g/200/300");
      float: none;
      height: 6em;
      width: 100%;

      @include media($default-768) {
        float: left;
        margin: 0;
        width: 25%;
      }

    }
  }
}
