$banner-bp-small: new-breakpoint(min-width 400px max-width 814px);
$banner-bp: new-breakpoint(min-width 815px);

/* Header Banner */
.banner {
  @include clearfix;
  display: table;
  height: 13em;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  .grand-header {
    @extend %content-block;
    background: none;
    display: block;
    height: 10em;
    padding: 0 2em 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 100%;
  }

  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }

  img {
    margin-top: 1em;
    width: 80%;

    @include media($banner-bp) {
      width: 63%;
    }
  }

  @include media($banner-bp) {
    height: 16em;

    p {
      font-size: 1.5em;
    }
  }

}

.banner-image {
  @include cover-image("/images/undrinkable-lrg-background-C.jpg");
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
