$banner-bp: new-breakpoint(min-width 815px);

@mixin cover-image($photo-url) {
  background: url($photo-url) no-repeat center center;
  background-size: cover;
  //ie 8
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$photo-url', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$photo-url', sizingMethod='scale')";
}

/* Header Banner */
.banner {
  @include clearfix;
  display: table;
  height: 10em;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  .grand-header {
    @extend %content-block;
    background: none;
    display: block;
    height: 10em;
    padding: 0 2em 0 0;
    position: absolute;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 100%;

  }

  a {
    color: $white;
  }

  //Project Title
  h1 {
    color: $white;
    font-family: $base-serif;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.15;
    text-shadow: $black 3px 3px 0;
    margin: 1em 0 .25em;
  }

  //Project Subtitle
  p {
    color: $white;
    font-family: $base-sans-serif;
    font-size: 1em;
    letter-spacing: .0625em;
    line-height: 1.15;
    text-shadow: none;
    margin-bottom: 1.5em;;
  }

  img {
    width: 80%;
  }

  @include media($banner-bp) {
    height: 16em;

    h1 {
      font-size: 3.5em;
    }

    p {
      font-size: 1.5em;
    }
  }

  @include media($large) {
    height: 18em;
  }

}

.banner-image {
  @include cover-image("http://placehold.it/1180x200");
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
