$masthead-bp: new-breakpoint(min-width 750px);

.masthead .branding {
  color: $white;
  font-family: $base-sans-serif;
  text-align: left;
  text-transform: uppercase;
  padding: .35em;

  .trib-logo {
    display: inline-block;
    max-height: 1.2em;
    margin: .5em 0 0 .5em;
    max-width: 65%;
  }

  @include media($masthead-bp) {
    text-align: center;

    .trib-logo {
      display: inline-block;
      max-height: 1.2em;
      margin-top: .25em;
    }
  }
}
