$menu-bp: new-breakpoint(min-width 787px max-width 1157px);
$menu-bp-large: new-breakpoint(min-width 1158px);

.nav {
  color: $dark-blue;
  font-family: $base-sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
}

.menu {
  color: $theme-eggshell;
  font-family: $base-sans-serif;
  line-height: 1.2;
  text-align: left;


  .menu-block {
    background: $seafoam;
    color: $dark-blue;
    float: none;
    letter-spacing: .03em;
    margin: 0;
    padding: 1em;
    width: 100%;

    @include media($menu-bp) {
      float: left;
      min-height: 8em;
      width: 20%;
    }

    @include media($menu-bp-large) {
      float: left;
      min-height: 6em;
      width: 20%;
    }

    &:active,
    &:hover,
    &.selected {
      background: $dark-blue;
      color: $white;
    }

  }

  .place {
    font-size: .9em;
    font-weight: 600;
    margin-bottom: .5em;

    @include media($menu-bp) {
      font-size: 1.25em;
    }
  }

  .subtitle {
    font-size: 1em;
    font-style: italic;
    font-weight: 500;

  }

  a {
    color: $theme-eggshell;

    &:active,
    &:hover {
      color: $theme-eggshell;
    }
  }
}
