.prose {
  line-height: 1.1em;

  p.byline {
    margin-bottom: 1em;
  }

}

.share-row {
  @extend %content-block;
}

.prose {

  p {
    line-height: 1.4;
  }

  h1 {
    line-height: 1.2;
    margin-top: .5em;
  }

  .undrinkable-logo {
    margin: 3em 0 1em;
  }

  .block-quote {
    border-top: 2px solid $tribune-yellow;
    border-bottom: 2px solid $tribune-yellow;
    color: $dark-blue;
    margin: 1em 0;
  }

  .photo {
    margin: 0 0 1em;
  }
}
