.prose {
  line-height: 1.1em;

  p.byline {
    margin-bottom: 1em;
  }

  img {
    max-width: 665px;
  }

}

.share-row {
  @extend %content-block;
}

.prose {
  h1,
  p {
    line-height: 1.4;
  }

  h1,
  .undrinkable-logo {
    margin-top: .5em;
  }

  .block-quote {
    border-top: 2px solid $tribune-yellow;
    border-bottom: 2px solid $tribune-yellow;
    margin: 1em 0;
  }

  .photo {
    margin: 0 0 1em;
  }
}
