$dark-blue: rgb(23,79,101) !default;
$seafoam: rgb(153,204,204) !default;
$light-seafoam: rgb(138, 186, 186) !default;
$dark-seafoam: rgb(79, 143, 143) !default;
$theme-grey: rgb(80, 80, 80) !default;
$theme-eggshell: rgb(255,252,248) !default;

$soft-eggshell: rgb(255,254,252);

$fb-blue: rgb(59, 89, 152);
$fb-hover: rgb(137, 155, 193);
$fb-accent: rgb(48, 72, 124);
$tw-blue: rgb(85, 172, 238);
$tw-hover: rgb(173, 215, 247);
$tw-accent: rgb(67, 136, 188);
