@mixin cover-image($photo-url) {
  background: url($photo-url) no-repeat center center;
  background-size: cover;
  //ie 8
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$photo-url', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$photo-url', sizingMethod='scale')";
}

@mixin button($background, $hover, $accent) {
    background-color: $background;
    color: $white;
    line-height: 1em;
    margin: 0 .25em;
    padding: .875em 1.25em .625em;
    text-align: center;
    border-bottom: .25em solid $accent;

    &:active,
    &:hover {
      background-color: $hover;
      border-bottom: .125em solid $accent;
    }

}
