body {
  background: $soft-eggshell;
}

.prose {

  h1,
  p {
    line-height: 1.4;
  }

  // Slider Overrides
  #slides {
    ul {
      list-style-type: none;
      margin-top: 1em;
    }

    li:last-child {
      margin-bottom: .5em;
    }

    .slide-text ul {
      list-style-type: disc;
      margin-left: .25em;
    }
  }
}
