{% extends 'app/templates/base.html' %}

{% block content %}
<section class="banner">
  <div class="banner-image"></div>
  <header class="grand-header">
    <h1><a href=""><img src="images/undrinkable-logo.svg"></a></h1>
    <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </header>
</section>
<!-- Static navigation bar -->
<nav id="nav" class="menu">
  <a href="">
    <div class="menu-block">
      <h2 class="place">Overview</h2>
      <h3 class="subtitle">What's with the water</h3>
    </div>
  </a>
  <a href="">
    <div class="menu-block">
      <h2 class="place">Vinton</h2>
      <h3 class="subtitle">Politics thwart a village’s hopes</h3>
    </div>
  </a>
  <a href="">
    <div class="menu-block">
      <h2 class="place">Las Pampas</h2>
      <h3 class="subtitle">A colonia built on broken promises</h3>
    </div>
  </a>
  <a href="">
    <div class="menu-block">
      <h2 class="place">Rio Grande City</h2>
      <h3 class="subtitle">Tied to an odious river</h3>
    </div>
  </a>
  <a href="">
    <div class="menu-block">
      <h2 class="place">Rio Bravo/El Cenizo</h2>
      <h3 class="subtitle">Suspended in a tainted solution</h3>
    </div>
  </a>
</nav>
<div class="main">

  <div class="story-container">
    <div class="story-content">
      <header class="prose">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
        <p class="byline">By Alexa &amp; Neena | Date</p>
      </header>
      <div class="sharelines">
        <h3>Sharelines</h3>
        <ul>
          <li>
            <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
            <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=&redirect_uri=" title="share on Facebook" class="social-share" target="_blank">
            <i class="fa fa-facebook"></i>
            </a>
            <p>The Politics of Prevention: How Texas lawmakers have changed women's access to care
            </p>
          </li>
          <li>
            <p>Univision Placeholder</p>
          </li>
        </ul>
      </div>

      <!-- STORY CONTENT! -->
      <section class="prose">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a felis ipsum. Cras accumsan efficitur posuere. Donec varius felis lacus, at pellentesque enim dapibus sed. In pellentesque lorem ut velit ullamcorper gravida. Sed sit amet blandit ex, eu luctus metus. Nullam at semper enim, vitae maximus lacus. Vivamus eget maximus ex. Praesent aliquet efficitur lectus, ac bibendum nulla.</p>
      </section>
      <section>
      <hr class="yellow">
      <div class="slider">
        <div id="slides">
        {% for x in OVERVIEW_SLIDER %}
          {% if x.Slide == 'QUESTION' %}
          <div class="slide-question">
            <h2>{{ x.Main }}</h2>
            {% if x.Subtext %}
              <p>{{ x.Subtext }}</p>
            {% endif %}
          </div>
          {% else %}
            <div>
              {% if x.Main %}
              <header class="slide-header">
                <h3>{{ x.Main }}</h3>
              </header>
              {% endif %}
              <div class="slide-text">
              {% if x.Subtext %}
                <p>{{ x.Subtext }}</p>
              {% endif %}
              {% if x.Bullets %}
                <ul>
                {{ x.Bullets }}
                </ul>
              {% endif %}
              {% if x.Subtext2 %}
                <p>{{ x.Subtext2 }}</p>
              {% endif %}
              {% if x.Bullets2 %}
                <ul>
                {{ x.Bullets2 }}
                </ul>
              {% endif %}
<!--               {% if x.Graphic %}
                {{ x.Graphic }}
              {% endif %} -->
              </div>
            </div>
          {% endif %}
        {% endfor %}
          <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-circle-left"></i></a>
          <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-circle-right"></i></a>
          </div>
      </div>
      <hr class="yellow">
      </section>
      <section class="prose">
      {{ OVERVIEW.FULL_TEXT }}
      </section>
    </div>

  </div>
</div>

<!--       <a href="mailto:?subject=&body=">
        <i class="fa fa-envelope"></i>
      </a> -->

{% endblock %}
