{% extends 'app/templates/base.html' %}
{% import 'app/templates/macro.html' as macro %}

{% block meta_ref %}
  {{ macro.meta(OVERVIEW) }}
{% endblock %}

{% block content %}

{{ macro.nav('overview') }}
<div class="main">

  <div class="story-container">
    <div class="story-content">
      {{ macro.header(OVERVIEW) }}
      <div class="prose">
      {{ macro.photo_overview(OVERVIEW.PHOTO_1, OVERVIEW.CAPTION_1, OVERVIEW.CREDIT_1) }}
      </div>
      {{ macro.sharelines(OVERVIEW) }}

      <!-- STORY CONTENT! -->
      <section class="prose">
        <p>Turn on the faucet. Fill a glass with water. Drink it. Acts so commonplace you perform them without thinking twice.</p>
        <p>Flora Barraza cannot. Neither can José Garcia, nor the cooks at Los Pasteles Bakery No. 2, nor the elderly at the Epoca de Oro Adult Day Care.</p>
        <p>Along the Texas-Mexico border, nearly 90,000 people are believed to still live without running water. An untold number more — likely tens of thousands, but no one is sure — often have running water of such poor quality that they cannot know what poisons or diseases it might carry.</p>

        <!-- Block Quote -->
        <div class="block-quote">
          <h2>&ldquo;Some people have no idea that there’s still third-world conditions in the most powerful country in the world.&rdquo;</h2>
          <p>&mdash; U.S. Rep. Henry Cuellar, D-Laredo</p>
        </div>

        <p>They are mostly low-income Hispanics, some living in isolated pockets or low-grade developments on land nobody else wanted. Poor, powerless and out of sight, they continue to grapple with the illnesses and hardships that come from lacking such a basic necessity.</p>
        <p>“Some people have no idea that there’s still third-world conditions in the most powerful country in the world,” says U.S. Rep. Henry Cuellar, a Laredo Democrat whose constituents live in some of the worst conditions.</p>
        <p>It is not a new problem. State and national governments launched massive efforts to solve it in the 1980s when the border’s population surged. They created <a href="http://www.becc.org/about-us" target="_blank">huge institutions</a> to funnel billions of dollars toward <a href="http://www.becc.org/our-impact/united-states/texas" target="_blank">building</a> treatment plants and pipelines.</p>
        <p>But many people have been left behind. Whether rooted in sloppy development, political infighting, lax enforcement or environmental hurdles, each border community’s challenges tell a version of the same story — families struggling for an essential resource most people take for granted.</p>

        <!-- Overview Map -->
        <img class="map" src="images/maps/undrinkable_texas.svg">

        <p>Nestled in the mountains of West Texas near Big Bend State Park, the small community of Las Pampas is so remote that it has never been worth the cost to run pipes to just a few dozen homes. Residents are left to haul their water from miles away. </p>
        <p>In Rio Bravo and El Cenizo, neighboring border towns a few miles south of Laredo, a brand-new water treatment plant was supposed to provide nearly 10,000 people with clean drinking water. But local leaders never mustered the political will or dollars necessary to run it properly, and last year seven workers were indicted for allegedly faking water quality reports.</p>
        <p>On the dry banks of the Rio Grande in far West Texas, many in the village of Vinton have hoped for decades to give up contaminated groundwater wells and pipe in clean water from big-city neighbor El Paso. But local political infighting got in the way. </p>
        <p>And in the Rio Grande Valley, a new water plant should have delivered clean drinking water for 14,000 people in Rio Grande City. But a tangled web of privately run corporations still serves much of the city.</p>
        <p>From poorly treated water to no running water at all, concerns about the damage being inflicted on public health are grave. The burdensome lifestyles thrust upon these four communities and others along the border are emblematic of a widespread indignity: Despite the state’s development and economic progress, some Texans hold a more tenuous grasp on a civilized life. </p>
        <p>“What’s interesting about this is that despite these hardships, [these communities] continue to grow,” said Jacqueline Angel, a public affairs professor who studies Hispanics’ health outcomes and demographics at the University of Texas at Austin. “The population is growing. The problem is not fading.”</p>
        <hr class="yellow">
      </section>
        <!-- Slider -->
        {{ macro.slideroverview(OVERVIEW_SLIDER) }}
      <section class="prose">
        <hr class="yellow">
        <h3 id="an-unmeasured-toll-on-health" target="_blank">An Unmeasured Toll on Health</h3>
        <p>People who live in the village of Vinton, just outside El Paso, are more likely than their neighbors to have skin problems and gastrointestinal issues — stomach cramps, vomiting and diarrhea — among other maladies. </p>
        <p>Researchers <a href="http://www.vintontx.govoffice2.com/vertical/sites/%7B9571B011-F39E-4B6F-A49E-0B16AB6056A3%7D/uploads/Healthy_Vinton_Summary_Technical-Feb14-Final.pdf" target="_blank">believe</a> high levels of arsenic, E. coli and other contaminants found in their drinking water are responsible.</p>
        <p>Vinton is one of the few towns that have been formally studied, but its experience is echoed along the border. Bad water <a href="http://water.epa.gov/drink/contaminants/basicinformation/pathogens.cfm" target="_blank">makes people sick</a>.</p>

        {% include 'app/templates/includes/box_ad.html' %}

        <p>Stomach and intestinal issues mostly result from drinking water contaminated with bacteria. Chronic public health concerns — like cancer and debilitating diseases — more likely spring from chemical contaminants such as arsenic or pesticides.</p>
        <p>But data on the health toll of bad water in most poor Texas communities is murky.</p>
        <p>“We provide funding to Texas’ health department, and even then we have difficulties [finding] that data,” said José Luis Velasco, U.S. executive director of the United States-México Border Health Commission.</p>
        <p>Because many living on the border do not have health insurance, and others are undocumented immigrants, it’s likely most diseases and ailments resulting from unsafe water are underreported. </p>
        <p>Texas physicians are required to report cases of certain infectious diseases to local and state health departments. But they can’t report illnesses they never see.</p>
        <p>“It’s very difficult for [poor border residents] to go to clinics and hospitals, so obviously the data won’t get reported,” Velasco said.</p>
        <section class="newsletter-signup">
          <hr>
          <header>
            <h4 class="sub-section-header">Sign up for Trib+Water, a bi-weekly newsletter on top news, events, research and data on water issues in Texas, the region and nation.</h4>
          </header>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//texastribune.us3.list-manage.com/subscribe/post?u=3d0ce87edeeb6df90043897db&amp;id=9d67bbb694" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_3d0ce87edeeb6df90043897db_9d67bbb694" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
          </div>
          <!-- https://us3.admin.mailchimp.com/lists/integration/embeddedcode?id=271841 -->
          <!--End mc_embed_signup-->
          <hr>
        </section>
        <p>State Sen. <a href="http://www.texastribune.org/directory/judith-zaffirini/" target="_blank">Judith Zaffirini</a>, a Democrat from Laredo who has worked to improve water quality in border communities, says lingering distrust of tap water — evidenced by the many border residents who buy bottled water even where tap water is safe — proves that local and state officials have more work to do. </p>
        <p>“Ensuring clean water is a cost-effective investment,” Zaffirini said. “It’s expensive, but it’s less expensive than dealing with the health consequences.”</p>

        <!-- Photo -->
        {{ macro.photo_overview(OVERVIEW.PHOTO_2, OVERVIEW.CAPTION_2, OVERVIEW.CREDIT_2) }}

        <h3 id="money-to-help-is-drying-up" target="_blank">Money to Help is Drying Up</h3>
        <p>Institutions run by Texas, the U.S. and Mexico have for years struggled to provide border communities with clean drinking water. And for hundreds of those communities, it has <a href="http://www.becc.org/our-impact/united-states/texas" target="_blank">worked</a>, officials say. </p>
        <p>In the past three decades, state and federal programs together have pumped at least $1.79 billion into water improvement projects on the border.</p>
        <p>The money has brought water treatment plants to small Texas border towns, wastewater treatment facilities to Mexico to prevent raw sewage from being dumped into the Rio Grande, and water pipes to countless homes and businesses. </p>
        <p>But the Texas secretary of state’s office still <a href="http://www.sos.state.tx.us/border/forms/2014-progress-legislative-report.pdf" target="_blank">counts</a> tens of thousands of residents in impoverished communities lacking running water — and suffering from it. </p>
        <p>Because of the sheer number of agencies involved on both sides of the border, no one accepts primary responsibility for finding and helping communities in need of clean water. Ask any of them who’s in charge and most point the finger at someone else.</p>

        <!-- Block Quote -->
        <div class="block-quote">
          <h2>&ldquo;Ensuring clean water is a cost-effective investment. It’s expensive, but it’s less expensive than dealing with the health consequences.&rdquo;</h2>
          <p>&mdash; State Sen. Judith Zaffirini, D-Laredo</p>
        </div>

        <p>What is clear is that dwindling funds and endless bureaucracy are blunting progress at all levels.</p>
        <p>In 1994, the U.S. and Mexico created the <a href="http://www.nadbank.org/about/origins.asp" target="_blank">North American Development Bank</a>, or NADBank, to keep an eye on environmental issues — especially water — along the border as the North American Free Trade Agreement kicked in and populations exploded in border towns.</p>
        <p>In the 1990s, Congress approved hundreds of millions of dollars in grants to NADBank for border water projects. But the bank <a href="https://www.tceq.texas.gov/assets/public/comm_exec/pubs/pd/020/04-03/nadbank-x.pdf" target="_blank">lacked</a> enough staff to administer all that funding at once for the poor communities that needed it.</p>
        <p><a href="http://journalism.berkeley.edu/projects/border/elpasonadbank.html" target="_blank">Frustrated</a>, lawmakers began to choke off the flow of grant money. Today the bank mostly gives out loans to communities that are big enough or have the wherewithal to pay them back. </p>
        <p>“Every single agency has felt the pinch of scarcity of money,” said Temis Alvarez of the <a href="http://www.becc.org/" target="_blank">Border Environment Cooperation Commission</a>, which helps administer NADBank funds. </p>
        <p>The story is similar at the state level. In 1989, the Texas Legislature <a href="http://www.sos.state.tx.us/border/colonias/legislation.shtml#71st" target="_blank">gave</a> the state’s Water Development Board funding for water and sewer projects in the infamous colonias, which proliferated as developers took advantage of poor residents along the border by peddling cheap housing but never delivering basic necessities like running water.</p>
        <p>That funding has since been redirected to any economically distressed area along the border, including colonias. The Water Development Board continues to loan money to such border communities for water projects, but there’s a waiting list. And grant money for those that can’t pay back loans is almost nonexistent.</p>

        <!-- Photo -->
        {{ macro.photo_overview(OVERVIEW.PHOTO_3, OVERVIEW.CAPTION_3, OVERVIEW.CREDIT_3) }}

        <p>Simply asking for money takes resources, too. Applying for government funds often takes hundreds of hours of work and expertise that poor communities lack. And even for those border communities that do manage to get funds and build water projects, the story doesn’t end there.</p>
        <p>Local governments often fail to properly manage treatment plants, or the money and expertise required to operate them doesn’t last. And regulators — like the Texas Commission on Environmental Quality — only have a limited ability to make sure things run smoothly.</p>
        <p>“You’ve got to look at what authority the Legislature’s given to everybody,” said Steve Niemeyer, the agency’s head of border affairs. “They’re ultimately the ones responsible if they want to step in and do something.”</p>
        <p>He added, “We just do what we’re told, given the authority that we have.”</p>
        <h3 id="river-offers-little-help" target="_blank">River Offers Little Help</h3>
        <p>Along some stretches of the Texas border, the biggest challenge to providing clean water is the Rio Grande itself.</p>
        <p>More than 1,200 miles of the river separate Texas and Mexico, and in many stretches it is <a href="https://www.tceq.texas.gov/waterquality/monitoring/riosum.html" target="_blank">severely polluted</a>. Cities and companies on both sides dump toxic waste, untreated sewage and other hazardous material into the river each day.</p>
        <p>That’s a particular problem in Mexico, where growing cities with overwhelmed treatment plants <a href="https://www.texastribune.org/2013/10/23/us-and-mexico-struggle-clean-rio-grande/" target="_blank">dump</a> their raw sewage into the Rio Grande, contaminating it with E. coli and other harmful bacteria.</p>
        <p>In other areas, where the river is dry, people dig shallow wells and pump water from underground, which carries significant risks of its own. Much of the groundwater along the border has natural contaminants like arsenic. And agricultural and industrial activity, along with the lack of sewer service, mean that toxic waste ends up in the ground, seeping into the groundwater supplies people rely on for drinking. </p>

        <!-- Photo -->
        {{ macro.photo_overview(OVERVIEW.PHOTO_4, OVERVIEW.CAPTION_4, OVERVIEW.CREDIT_4) }}

        <p>Not all the problems of the Rio Grande — and the groundwater sources that other border communities rely on — are manmade. A <a href="http://www.epa.gov/ocem/gneb/gneb15threport/English-GNEB-15th-Report.pdf" target="_blank">2012 report</a> from the federal Environmental Protection Agency found that much of the border “must rely on source waters of compromised quality due to high [levels of dissolved solid materials], arsenic, fluoride and other natural contaminants.” </p>
        <p>And dozens of cultural barriers also stand between government and the people it’s supposed to help. </p>
        <p>Border residents already living in austere conditions are often too scared to ask for relief, said John Henneberger, co-director of the Texas Low Income Housing Information Service, a nonprofit that works on housing and community development problems.</p>
        <p>Navigating complicated bureaucracy is difficult enough for low-income Texans, let alone for those who don’t speak the language. More than one-third of the Texas border’s 2.7 million residents do not speak English well, according to the state’s Office of Border Health. </p>
        <p>In these largely Hispanic enclaves, also home to a large population of immigrants, others distrust the government, or live in fear that speaking out may attract unwanted attention to their immigration status.</p>
        <p>“Often these are small rural communities, a number of people may be immigrants, there may be language problems, and people are poor so they don’t have the resources and the time to be able to attend meetings and to stay on top of what government does to them and for them,” Henneberger said.</p>

        <!-- Photo -->
        {{ macro.photo_overview(OVERVIEW.PHOTO_5, OVERVIEW.CAPTION_5, OVERVIEW.CREDIT_5) }}

        <p>Meanwhile, political will to help improve water quality on the border is largely spent. While the state’s drought has brought a <a href="http://www.texastribune.org/2013/11/06/election-results-headline/" target="_blank">swift</a> response from elected officials, the cries from some border lawmakers about unsafe water have gone largely unheard before the full Legislature.</p>
        <p>Other elected officials have either passed the buck to someone else or been reluctant to admit that some of their constituents live in near third-world conditions.</p>
        <p>At the local level, border communities operate in silos and have failed to find regional solutions to water challenges, said Carlos Acevedo, a senior project manager for the Border Environment Cooperation Commission.</p>
        <p>Added Cuellar: “We’re in an environment of dwindling monies from Washington, and to be quite honest, I don’t hear much from Austin on colonias. I think we need a renewed effort on the colonias, both at the state and federal level.”</p>
        <p class="sub-section-header">This project was crowdfunded via Beacon Reader. To review donors to the project, click <a href="http://www.beaconreader.com/pitches/undrinkable">here</a>.</p>
      </section>
    </div>

  </div>
</div>

{% endblock %}
