{% extends 'app/templates/base.html' %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}
<section class="banner">
  <div class="banner-image"></div>
  <header class="grand-header">
    <h1><a href=""><img src="images/undrinkable-logo.svg"></a></h1>
    <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </header>
</section>
<!-- Static navigation bar -->
<nav id="nav" class="menu">
  <a href="">
    <div class="menu-block">
      <h2 class="place">Overview</h2>
      <h3 class="subtitle">What's with the water</h3>
    </div>
  </a>
  <a href="">
    <div class="menu-block">
      <h2 class="place">Vinton</h2>
      <h3 class="subtitle">Politics thwart a village’s hopes</h3>
    </div>
  </a>
  <a href="">
    <div class="menu-block">
      <h2 class="place">Las Pampas</h2>
      <h3 class="subtitle">A colonia built on broken promises</h3>
    </div>
  </a>
  <a href="">
    <div class="menu-block">
      <h2 class="place">Rio Grande City</h2>
      <h3 class="subtitle">Tied to an odious river</h3>
    </div>
  </a>
  <a href="">
    <div class="menu-block">
      <h2 class="place">Rio Bravo/El Cenizo</h2>
      <h3 class="subtitle">Suspended in a tainted solution</h3>
    </div>
  </a>
</nav>
<div class="main">

  <div class="story-container">
    <div class="story-content">
      {{ macro.header(RIOGRANDE) }}

      <!-- STORY CONTENT! -->
      <section class="prose">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a felis ipsum. Cras accumsan efficitur posuere. Donec varius felis lacus, at pellentesque enim dapibus sed. In pellentesque lorem ut velit ullamcorper gravida. Sed sit amet blandit ex, eu luctus metus. Nullam at semper enim, vitae maximus lacus. Vivamus eget maximus ex. Praesent aliquet efficitur lectus, ac bibendum nulla.</p>
      <img class="map" src="/images/maps/undrinkablemap-01.svg">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a felis ipsum. Cras accumsan efficitur posuere. Donec varius felis lacus, at pellentesque enim dapibus sed. In pellentesque lorem ut velit ullamcorper gravida. Sed sit amet blandit ex, eu luctus metus. Nullam at semper enim, vitae maximus lacus. Vivamus eget maximus ex. Praesent aliquet efficitur lectus, ac bibendum nulla.</p>

      {{ macro.photo(OVERVIEW.PHOTO_2, OVERVIEW.CAPTION_2, OVERVIEW.CREDIT_2, 0) }}

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a felis ipsum. Cras accumsan efficitur posuere. Donec varius felis lacus, at pellentesque enim dapibus sed. In pellentesque lorem ut velit ullamcorper gravida. Sed sit amet blandit ex, eu luctus metus. Nullam at semper enim, vitae maximus lacus. Vivamus eget maximus ex. Praesent aliquet efficitur lectus, ac bibendum nulla.</p>
      </section>
      {{ macro.slider(RIOGRANDE_SLIDER) }}
      <section class="prose">
      {{ OVERVIEW.FULL_TEXT }}
      </section>
    </div>

  </div>
</div>

<!--       <a href="mailto:?subject=&body=">
        <i class="fa fa-envelope"></i>
      </a> -->

{% endblock %}
