{% extends 'app/templates/base_sub.html' %}
{% import 'app/templates/macro.html' as macro %}

{% block meta_ref %}
  {{ macro.meta(LASPAMPAS) }}
{% endblock %}

{% block content %}

<!-- Static navigation bar -->
{{ macro.nav('laspampas') }}
<div class="main">

  <div class="story-container">
    <div class="story-content">
      {{ macro.header(LASPAMPAS) }}
      <div class="prose">
        {{ macro.photo(LASPAMPAS.PHOTO_4, LASPAMPAS.CAPTION_4, LASPAMPAS.PHOTO_CREDIT) }}
      </div>
      {{ macro.sharelines(LASPAMPAS) }}
      <!-- STORY CONTENT! -->
      <section class="prose">
        <p>LAS PAMPAS — Every three days, Victor Manuel Juarez checks the straps on a 500-gallon plastic water tank mounted to a flatbed trailer behind his pickup. After putting on his short-brimmed straw hat, the 71-year-old kisses his wife, Rosa María, goodbye and drives into the nearby city of Presidio.</p>
        <p>His destination is a barren dirt lot where five double-headed spigots poke from the ground, serving as a makeshift water filling station. He screws one end of a hose to a spigot, drops the other into his water tank, turns on the valve and waits. It’ll be an hour before the tank is full and Juarez can head home to Rosa María.</p>
        <p>This is life in the tiny West Texas colonia nestled between Big Bend Ranch State Park and the Chinati Mountains.</p>

        <!-- Map -->
        <img class="map" src="../images/maps/undrinkable_laspampas.svg">

        <p>Because Presidio’s water lines don’t extend the five miles out to Las Pampas, the 30 or so families here live off a few days’ worth of water at a time.</p>
        <p>Like many residents of Texas’ <a href="http://www.sos.state.tx.us/border/colonias/what_colonia.shtml" target="_blank">colonias</a>, the Juarezes moved to Las Pampas — an unincorporated subdivision — 12 years ago on a false promise that city water was coming soon. The woman who sold them their doublewide home skipped town shortly after they moved in, says Rosa María, 61. </p>
        <p>The Juarezes, who came here from the Mexican border town of Ojinaga, say hauling water is their only alternative. Every day they worry whether that water is unsafe, opting for bottled water to drink and for cooking.</p>
        <p>“We use it with fear,” Rosa María said late last year while sitting at her kitchen table. “We never thought we’d move to the U.S. and not have running water, but you eventually get used to the idea that this is part of your life.”</p>
        <p>Researchers and public health officials say those fears are justified.</p>
        <p>And the Juarezes are not alone: Tens of thousands of others <a href="http://www.sos.state.tx.us/border/forms/2014-progress-legislative-report.pdf" target="_blank">live</a> in impoverished colonias along the Texas-Mexico border, where a lack of basic amenities like running water, electricity and plumbing is the norm.</p>
        <p>Many have no choice. Affordable housing can be hard to come by on the border, and most do not have the means to pick up and leave.
        “What they’re facing in Las Pampas is pretty much the history of colonia needs in the state through the years,” says state Sen. <a href="http://www.texastribune.org/directory/jose-rodriguez/" target="_blank">José Rodríguez</a>, whose West Texas district includes Las Pampas.</p>
        <h3 id="doing-the-best-they-can" target="_blank">Doing the Best They Can</h3>
        <p>Water issues in the colonias <a href="http://www.sos.state.tx.us/border/colonias/faqs.shtml" target="_blank">date back</a> to the 1950s, when cagey real estate developers sold cheap tracts of low-grade land in unincorporated areas to mostly poor Hispanic migrants, promising services that never arrived.</p>
        <p>Colonias have <a href="http://www.sos.state.tx.us/border/colonias/faqs.shtml" target="_blank">higher rates</a> of water-borne diseases than the rest of the state. In Las Pampas, residents generally complain about gastrointestinal problems, believing they are connected to the quality of their water, says Pema Garcia, associate director of <a href="http://colonias.arch.tamu.edu/" target="_blank">Texas A&amp;M University’s Colonias Program.</a></p>

        <!-- Photo -->
        {{ macro.photo(LASPAMPAS.PHOTO_5, LASPAMPAS.CAPTION_5, LASPAMPAS.PHOTO_CREDIT) }}

        <p>The health risks are part and parcel of the way people like Juarez get their water. It may be clean when it comes out of the tap in Presidio. But from there it goes into a portable tank, then is transferred to a collection barrel from which it can be pumped into a home.</p>
        <p>“There’s all sorts of contamination points” in the water hauling process, Garcia says. Residents may not clean their water tanks regularly, and they’re often outdoors, exposed to contamination. Families with just one collection barrel hooked up to their water pump must go without water for a day or two to clean it, so they usually do not.</p>
        <p>If the water pump breaks or freezes in the middle of winter — like the Juarezes’ pump did a few years ago — residents must fill buckets of water to bathe.</p>
        <p>Among families who solely drink bottled water, which does not contain fluoride like treated tap water does, children also deal with dental problems, Garcia adds.</p>
        <h3 id="when-hope-ran-dry" target="_blank">When Hope Ran Dry</h3>
        <p>In the last 20 years, hundreds of millions of state and federal dollars have poured into border communities to address public health concerns. Water and sewer lines have been extended to some communities. Since 2006, at least 286 colonias have been connected to reliable sources of potable water, gained wastewater systems and gotten paved roads, according to <a href="http://www.sos.state.tx.us/border/forms/2014-progress-legislative-report.pdf" target="_blank">figures</a>
        provided by the Texas secretary of state’s office.</p>
        <p>But the residents of Las Pampas — like at least 38,000 other Texans living in colonias — still face grave health risks without water that’s safe to drink. </p>

        <!-- Photo -->
        {{ macro.photo(LASPAMPAS.PHOTO_3, LASPAMPAS.CAPTION_3, LASPAMPAS.PHOTO_CREDIT) }}

        <p>If communities want help, officials say, they need to take the initiative and ask for it. Someone has to step up and lead the effort. Such leaders are not an easy find in Presidio County, a mountainous desert landscape where few people live and where political priorities are scattered.</p>
        <p>“It’s so monumental, the need, that I think people just kind of walk away from it because you don’t even know where to start,” says Annette Gutierrez, executive director of the Rio Grande Council of Governments.</p>
        <p>Providing running water for just 30 families in a remote community is an expensive proposition — one that Presidio County elected officials, more than 60 miles north in Marfa, have had trouble justifying to their other constituents, Gutierrez says.</p>
        <p>Hope stirred in the late 1990s when Charlotte Ishikawa tried to establish a community-based water supplier and bring water to the area. Ishikawa had moved to Las Pampas in 1990, but only lived there for a year, finding it too burdensome to haul water for herself and her son, who has epilepsy.</p>

        <!-- Box Ad -->
        {% include 'app/templates/includes/box_ad.html' %}

        <p>A local representative from the U.S. Department of Agriculture helped her apply for a $350,000 grant to drill a community well. It took years to create the Las Pampas Water Supply Corporation and <a href="http://libit.sulross.edu/archives/marfanews/sent94-04/2004-10-07.pdf" target="_blank">secure</a> the grant.</p>
        <p>Though many residents of Las Pampas were skeptical, Ishikawa says, she found about 30 families to sign on as members of the nonprofit water supplier.</p>
        <p>The grant was finally awarded in 2004, but attempts to drill a well were unsuccessful. “We just never hit water,” she says. “So we had to dissolve the whole project.”</p>
        <p>Since then, many of her former neighbors have moved to Presidio or out of the area altogether.</p>
        <p>“It was not only disappointing. It was depressing,” says Ishikawa, now 71. “Let me put it this way: I don’t know if it’s going to happen before I close my eyes, but I think someday it’s going to happen.”</p>
        <p>Rodríguez, the state senator, says the state must take a more “affirmative” role in identifying colonias in need of assistance rather than waiting for a leader in the community to emerge.</p>
        <p>“The question we should be asking ourselves is, here in the 21st century, should Texas — given how much we laud the economic ‘miracle’ here in the state — should we be a state that still has these third-world conditions in our border communities?” </p>
        <h3 id="little-will-or-money-left-to-help" target="_blank">Little Will, or Money, Left to Help</h3>
        <p>Oddly, the state agency that tracks state efforts to improve life in the colonias is the secretary of state’s office, which generally oversees elections and voting, but also manages the Colonia Initiatives Program.</p>

      <!-- Slider -->
        <hr class="yellow">
      </section>
      {{ macro.slider(LASPAMPAS_SLIDER) }}
      <section class="prose">
        <hr class="yellow">

        <p>Rodríguez says the program is “well-intentioned” but doesn’t have the tools and authority to be “much more aggressive in eradicating problems in the colonias.”</p>
        <p>“They do the best they can, but I don’t think the state of Texas has provided enough support for that to be an effective program,” he says.</p>
        <p>Enriqueta Caballero, the program’s director, says that the state is doing its best with existing resources, but that the prospect of tackling the water needs in every colonia is “daunting.”</p>
        <p>“We are not a funding agency, we’re not a regulatory agency, we’re not an enforcement agency,” Caballero says. “Our role is to make sure we are a connector, or a bridge of sources.”</p>
        <p>State funding for colonia water projects has dwindled in recent years. There’s no more money available for grants. The Texas Water Development Board gives out loans, but those can be hard to pay back. And even cheap loans the state has long offered to poor communities for water projects are in jeopardy. Texas lawmakers have so far not budgeted to pay for such programs past 2015. </p>
        <p>For Henry Cuellar, a former state legislator from the Rio Grande Valley who pioneered much of Texas’ colonias legislation 20 years ago, it’s disappointing.</p>
        <p>Back then, political will to address the problem was strong, says Cuellar, now a congressman. Now, he says, “I don’t hear much from Austin on colonias.” And in Washington, “a lot of our leaders still don’t understand what a colonia is.”</p>
        <section class="newsletter-signup">
          <hr>
          <header>
            <h4 class="sub-section-header">Sign up for Trib+Water, a bi-weekly newsletter on top news, events, research and data on water issues in Texas, the region and nation.</h4>
          </header>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//texastribune.us3.list-manage.com/subscribe/post?u=3d0ce87edeeb6df90043897db&amp;id=9d67bbb694" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_3d0ce87edeeb6df90043897db_9d67bbb694" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
          </div>
          <!-- https://us3.admin.mailchimp.com/lists/integration/embeddedcode?id=271841 -->
          <!--End mc_embed_signup-->
          <hr>
        </section>
        <h3 id="hurdles-never-seem-to-end" target="_blank">Hurdles Never Seem to End</h3>
        <p>There is currently no state-led effort to help the residents of Las Pampas obtain running water. The city of Presidio did receive an $80,000 grant from the federal government in February 2013 to study the possibility of extending its water service to Las Pampas.</p>
        <p>That money came from the Border Environment Cooperation Commission, a <a href="http://www.becc.org/" target="_blank">binational agency</a> created in the 1990s to improve environmental conditions along the U.S.-Mexico border.</p>
        <p>But the effort has uncovered new challenges.  </p>

        <!-- Photo -->
        {{ macro.photo(LASPAMPAS.PHOTO_9, LASPAMPAS.CAPTION_9, LASPAMPAS.PHOTO_CREDIT) }}

        <p>City officials discovered that Presidio’s water system has its own substantial problems, which need to be fixed before the city extends its lines any further.</p>
        <p>The city’s aging distribution system works hard to push water uphill. Hundreds of city water meters aren’t accurate, so Presidio loses at least 10 percent of its water sales revenue.</p>
        <p>But the biggest concern for Presidio’s public works director, Arturo Acosta, is a 1.7-million-gallon water storage tank that is old and rusting and has no backup. “If we lose that, we’re sunk,” he says. The city has no contingency plan.</p>
        <p>An engineering consulting firm’s report, the final draft of which is expected later this year, says that Presidio first has to raise its water rates to help pay for the estimated $300-per-meter cost of fixing all 400 meters that aren’t working properly, and to buy the equipment needed to fix pressure issues.</p>
        <p>The city hasn’t increased its water rates since 2002. “We’ve got to fix our sins inside the city,” says Brad Newton, executive director of the Presidio Municipal Development District. </p>
        <p>Newton says he’s sure that once all those issues are fixed, Presidio can obtain a grant to cover all the costs of extending water to Las Pampas, though no one has determined how high that price tag might be. </p>
        <p>And even if the pipes are extended, they will only run four miles beyond the city limit.</p>
        <p>Flora Barraza lives more than fives miles outside of Presidio. </p>
        <p>For Barraza, 66, hope for running water mostly vanished when the well Ishikawa was drilling came up dry. Barraza, who has lived in Las Pampas for more than 20 years, used to walk out to the drilling site near her home to check on its progress, excitedly awaiting the day that running water in her house would become a reality. </p>

        <!-- Photo -->
        {{ macro.photo(LASPAMPAS.PHOTO_6, LASPAMPAS.CAPTION_6, LASPAMPAS.PHOTO_CREDIT) }}

        <p>Instead, she still makes the trek into Presidio to fill up her 200-gallon tank at a friend’s house. In the winter, she fills up three times a week. In the heat of summer, she’s forced to fill up every day.</p>
        <p>When she has run out of water between trips, Barraza has resorted to bathing with rainwater she collects in large barrels and buckets scattered in her yard. “Of course I’ve used the rainwater. If I don’t have water, how am I supposed to take a shower?” she asked.</p>
        <p>Even the water she hauls may be contaminated, so Barraza purchases gallons of water at a time to drink and cook with.</p>
        <p>But her biggest fear is that she won’t be able to make the trip into Presidio as she gets older. </p>
        <p>“I knew there wasn’t running water when I moved here,” Barraza says. “But I was young then. No one gets tired when you’re young.”</p>
        <p class="sub-section-header">Disclosure: Texas A&M University is a corporate sponsor of The Texas Tribune. A complete list of Tribune donors and sponsors can be viewed <a href="http://www.texastribune.org/support-us/donors-and-members/">here</a>.</p>
        <p class="sub-section-header">This project was crowdfunded via Beacon Reader. To review donors to the project, click <a href="http://www.beaconreader.com/pitches/undrinkable">here</a>.</p>
      </section>


    </div>

  </div>
</div>

{% endblock %}
