{% macro header(sheet) %}
  <header class="prose">
    <h1>{{ sheet.HEADLINE }}</h1>
    <p class="byline">By <a href="http://www.texastribune.org/about/staff/neena-satija/">Neena Satija</a> &amp; <a href="http://www.texastribune.org/about/staff/alexa-ura">Alexa Ura</a> | March 8, 2015</p>
  </header>
  <div class="sharelines">
    <h3>Sharelines</h3>
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ sheet.SHARE_1 | urlencode }}%20{{ sheet.SHORT_URL }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=&redirect_uri=" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ sheet.SHARE_1 }}</p>
      </li>
      <li>
        <p>{{ sheet.UNIVISION }}</p>
      </li>
    </ul>
  </div>
{% endmacro %}

{% macro slider(sheet) %}
  <section>
    <hr class="yellow">
    <div class="slider">
      <div id="slides">
      {% for x in sheet %}
        {% if x.Slide == 'QUESTION' %}
        <div class="slide-question">
          <h2>{{ x.Main }}</h2>
          {% if x.Subtext %}
            <p>{{ x.Subtext }}</p>
          {% endif %}
          {% if x.Graphic %}
            <div class="graphic {{ x.GClass }}">
              <img class="question" src="images/graphics/{{ x.Graphic }}">
            </div>
          {% endif %}
        </div>
        {% else %}
          <div>
            {% if x.Main %}
              {% if x.GClass == 'icon' %}
                <div class="graphic {{ x.GClass }}">
                  <img src="images/graphics/{{ x.Graphic }}">
                </div>
              {% endif %}
            <header class="slide-header">
              <h3>{{ x.Main }}</h3>
            </header>
            {% endif %}
            <div class="slide-text">
            {% if x.Subtext %}
              <p>{{ x.Subtext }}</p>
            {% endif %}
            {% if x.Bullets %}
              <ul>
              {{ x.Bullets }}
              </ul>
            {% endif %}
            {% if x.Subtext2 %}
              <p>{{ x.Subtext2 }}</p>
            {% endif %}
            {% if x.Bullets2 %}
              <ul>
              {{ x.Bullets2 }}
              </ul>
            {% endif %}
            {% if x.Graphic and x.GClass != 'icon' %}
              <div class="graphic {{ x.GClass }}">
                <img src="images/graphics/{{ x.Graphic }}">
              </div>
            {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-circle-left"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
    <hr class="yellow">
  </section>
{% endmacro %}

{% macro photo(photo_num, caption, credit) %}
  <img src="images/photos/{{ photo_num }}">
{% endmacro %}
