{% macro nav(story) %}
  <nav id="nav" class="menu">
    <a href="/undrinkable">
      <div class="menu-block {% if story == 'overview' %}selected{% endif %}">
        <h2 class="place">Overview</h2>
        <h3 class="subtitle">What's with the water</h3>
      </div>
    </a>
    {% if sheet.SLUG %}
    <a href="../vinton">
    {% elif story == 'vinton' %}
    <a href="../vinton">
    {% else %}
    <a href="../../undrinkable/vinton">
    {% endif %}
      <div class="menu-block {% if story == 'vinton' %}selected{% endif %}">
        <h2 class="place">Vinton</h2>
        <h3 class="subtitle">Politics thwart a village’s hopes</h3>
      </div>
    </a>
    {% if sheet.SLUG %}
    <a href="../las-pampas">
    {% elif story == 'laspampas' %}
    <a href="../las-pampas">
    {% else %}
    <a href="../../undrinkable/las-pampas">
    {% endif %}
      <div class="menu-block {% if story == 'laspampas' %}selected{% endif %}">
        <h2 class="place">Las Pampas</h2>
        <h3 class="subtitle">A colonia built on broken promises</h3>
      </div>
    </a>
    {% if sheet.SLUG %}
    <a href="../rio-grande-city">
    {% elif story == 'riograndecity' %}
    <a href="../rio-grande-city">
    {% else %}
    <a href="../../undrinkable/rio-grande-city">
    {% endif %}
      <div class="menu-block {% if story == 'riograndecity' %}selected{% endif %}">
        <h2 class="place">Rio Grande City</h2>
        <h3 class="subtitle">A Patchwork of Unreliability</h3>
      </div>
    </a>
    {% if sheet.SLUG %}
    <a href="../rio-bravo-el-cenizo">
    {% elif story == 'riobravo' %}
    <a href="../rio-bravo-el-cenizo">
    {% else %}
    <a href="../../undrinkable/rio-bravo-el-cenizo">
    {% endif %}
      <div class="menu-block {% if story == 'riobravo' %}selected{% endif %}">
        <h2 class="place">Rio Bravo/El Cenizo</h2>
        <h3 class="subtitle">Suspended in a tainted solution</h3>
      </div>
    </a>
  </nav>
{% endmacro %}

{% macro header(sheet) %}
  <header class="prose">
  {% if sheet.SLUG %}
    <img src="../images/undrinkable-logo.svg" class="undrinkable-logo">
  {% else %}
    <img src="images/undrinkable-logo.svg" class="undrinkable-logo">
  {% endif %}
    <h1>{{ sheet.HEADLINE }}</h1>
    <p class="byline">By <a href="http://www.texastribune.org/about/staff/neena-satija/">Neena Satija</a> &amp; <a href="http://www.texastribune.org/about/staff/alexa-ura">Alexa Ura</a> | March 8, 2015</p>
  </header>
{% endmacro %}

{% macro sharelines(sheet) %}
  <div class="sharelines">
    <h3>Sharelines</h3>
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ sheet.SHARE_1 | urlencode }}%20{{ sheet.SHORT_URL }}%20&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=&redirect_uri=" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
        </a>
        <p>{{ sheet.SHARE_1 }}</p>
      </li>
      <li>
      {% if sheet.SLUG %}
        <img src="../images/Univision-logo.jpg" class="univision">
      {% else %}
        <img src="images/Univision-logo.jpg" class="univision">
      {% endif %}
        <p>{{ sheet.UNIVISION }}</p>
      </li>
    </ul>
  </div>
{% endmacro %}

{% macro slideroverview(sheet) %}
  <section>
    <div class="slider">
      <div id="slides">
      {% for x in sheet %}
        {% if x.Slide == 'QUESTION' %}
        <div class="slide-question">
          <h2>{{ x.Main }}</h2>
        </div>
        {% else %}
          <div>
            {% if x.Main %}
            <header class="slide-header">
              <h3>{{ x.Main }}</h3>
            </header>
            {% endif %}
            <div class="slide-text">
            {% if x.Subtext %}
              <p>{{ x.Subtext }}</p>
            {% endif %}
            {% if x.Bullets %}
              <ul>
              {{ x.Bullets }}
              </ul>
            {% endif %}
            {% if x.Graphic %}
              <div class="graphic {{ x.GClass }}">
                <img src="images/graphics/{{ x.Graphic }}">
              </div>
            {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-circle-left"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
  </section>
{% endmacro %}

{% macro slider(sheet) %}
  <section>
    <div class="slider">
      <div id="slides">
      {% for x in sheet %}
        {% if x.Slide == 'QUESTION' %}
        <div class="slide-question">
          <h2>{{ x.Main }}</h2>
          {% if x.Subtext %}
            <p>{{ x.Subtext }}</p>
          {% endif %}
          {% if x.Graphic %}
            <div class="graphic {{ x.GClass }}">
              {% if sheet == OVERVIEW_SLIDER %}
              <img class="question" src="images/graphics/{{ x.Graphic }}">
              {% else %}
              <img class="question" src="../images/graphics/{{ x.Graphic }}">
              {% endif %}
            </div>
          {% endif %}
        </div>
        {% else %}
          <div>
            {% if x.Main %}
              {% if x.GClass == 'icon'%}
                <div class="graphic {{ x.GClass }}">
                  <img src="../images/graphics/{{ x.Graphic }}">
                </div>
              {% else %}
              {% endif %}
            <header class="slide-header">
              <h3>{{ x.Main }}</h3>
            </header>
            {% endif %}
            <div class="slide-text">
            {% if x.Subtext %}
              <p>{{ x.Subtext }}</p>
            {% endif %}
            {% if x.Bullets %}
              <ul>
              {{ x.Bullets }}
              </ul>
            {% endif %}
            {% if x.Subtext2 %}
              <p>{{ x.Subtext2 }}</p>
            {% endif %}
            {% if x.Bullets2 %}
              <ul>
              {{ x.Bullets2 }}
              </ul>
            {% endif %}
            {% if x.Graphic and x.GClass != 'icon' %}
              <div class="graphic {{ x.GClass }}">
                <img src="../images/graphics/{{ x.Graphic }}">
              </div>
            {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-circle-left"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
  </section>
{% endmacro %}

{% macro photo(p, cap, cred) %}
  <div class="photo">
    <img src="../images/photos/{{ p }}">
    <p class="caption">{{ cap }} Photo by {{ cred }}.</p>
  </div>
{% endmacro %}

{% macro photo_overview(p, cap, cred) %}
  <div class="photo">
    <img src="images/photos/{{ p }}">
    <p class="caption">{{ cap }} Photo by {{ cred }}.</p>
  </div>
{% endmacro %}
