{% macro slider(sheet) %}
  <section>
    <hr class="yellow">
    <div class="slider">
      <div id="slides">
      {% for x in sheet %}
        {% if x.Slide == 'QUESTION' %}
        <div class="slide-question">
          <h2>{{ x.Main }}</h2>
          {% if x.Subtext %}
            <p>{{ x.Subtext }}</p>
          {% endif %}
        </div>
        {% else %}
          <div>
            {% if x.Main %}
            <header class="slide-header">
              <h3>{{ x.Main }}</h3>
            </header>
            {% endif %}
            <div class="slide-text">
            {% if x.Subtext %}
              <p>{{ x.Subtext }}</p>
            {% endif %}
            {% if x.Bullets %}
              <ul>
              {{ x.Bullets }}
              </ul>
            {% endif %}
            {% if x.Subtext2 %}
              <p>{{ x.Subtext2 }}</p>
            {% endif %}
            {% if x.Bullets2 %}
              <ul>
              {{ x.Bullets2 }}
              </ul>
            {% endif %}
            {% if x.Graphic %}
              {{ x.Graphic }}
            {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-circle-left"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
    <hr class="yellow">
  </section>
{% endmacro %}
