{% extends 'app/templates/base_sub.html' %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}
<section class="banner">
  <div class="banner-image"></div>
  <header class="grand-header">
    <h1><a href=""><img src="../images/undrinkable-logo.svg"></a></h1>
    <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </header>
</section>
<!-- Static navigation bar -->
{{ macro.nav('riobravo') }}
<div class="main">

  <div class="story-container">
    <div class="story-content">
      {{ macro.header(RIOBRAVO) }}

      <!-- STORY CONTENT! -->
      <section class="prose">

      <img class="map" src="/images/maps/undrinkablemap-05.svg">

      {{ macro.photo(RIOBRAVO.PHOTO_2, RIOBRAVO.CAPTION_2, RIOBRAVO.CREDIT_2) }}

      </section>
      {{ macro.slider(RIOBRAVO_SLIDER) }}
      <section class="prose">
      {{ RIOBRAVO.FULL_TEXT }}
      </section>
    </div>

  </div>
</div>

{% endblock %}
