{% extends 'app/templates/base_sub.html' %}
{% import 'app/templates/macro.html' as macro %}

{% block meta_ref %}
  {{ macro.meta(RIOBRAVO) }}
{% endblock %}

{% block content %}

<!-- Static navigation bar -->
{{ macro.nav('riobravo') }}
<div class="main">

  <div class="story-container">
    <div class="story-content">
      {{ macro.header(RIOBRAVO) }}
      <div class="prose">
        {{ macro.photo(RIOBRAVO.PHOTO_2, RIOBRAVO.CAPTION_2, RIOBRAVO.PHOTO_CREDIT) }}
      </div>
      {{ macro.sharelines(RIOBRAVO) }}
      <!-- STORY CONTENT! -->
      <section class="prose">
        <p>RIO BRAVO — It cost $12 million, and was expected to change the lives of hundreds of poor, mostly Hispanic families living in two hard-luck border towns. </p>
        <p>The Rio Bravo Water Treatment Plant opened in 2006 as a state-of-the-art technological wonder, designed to distill 2.4 million gallons of water per day — clean, safe, drinkable water.</p>
        <p>But nearly a decade later, the 8,000 residents of Rio Bravo and neighboring El Cenizo mostly still buy their drinking and cooking water from brightly colored kiosks around town. Elderly patrons at the senior care center run by Rio Bravo’s mayor drink bottled water and use the caps as lotería markers.</p>
        <p>“Who here would be willing to drink some tap water?” Dr. Francisco Pe&#241;a asked the folks at the care center last fall, before he was elected mayor. “Who is willing to drink water that comes from your public water treatment plant?” From a crowd of 30 people, there was silence. </p>

        <!-- Photo -->
        {{ macro.photo(RIOBRAVO.PHOTO_9, RIOBRAVO.CAPTION_9, RIOBRAVO.PHOTO_CREDIT) }}

        <p>The Rio Bravo plant has been fraught with problems since it opened. The sophisticated system often doesn’t work, or operators don’t know how to work it. State inspectors have repeatedly cited the plant for pumping foul water out to its customers. Eight current and former employees have been indicted for falsifying water quality records sent to the state.</p>
        <p>And the locals still cannot trust what comes out of their faucets.</p>
        <p>“We had to start using filtered water because we didn’t want to lose clients,” says Fausta Montoya, an employee at the Los Pasteles Bakery in Rio Bravo, which spends more than $150 a month on bottled water at Family Dollar. </p>
        <p>Huddled on the banks of the Rio Grande about 20 miles south of Laredo, Rio Bravo and El Cenizo are former <a href="http://www.sos.state.tx.us/border/colonias/faqs.shtml" target="_blank">colonias</a> — makeshift communities that sprouted up when greedy developers sold cheap land to poor families desperate for affordable housing. </p>

        <img class="map" src="../images/maps/undrinkable_riobravo.svg">

        <p><a href="http://www.nytimes.com/1995/04/02/business/this-is-the-house-that-greed-built.html" target="_blank">Notorious developer</a> Cecil McDonald charged as little as $50 down for property in the 1980s. When his real estate investment firm went bankrupt, the two colonias were left to figure out how to get basic services. </p>
        <p>A series of <a href="http://madmax.lmtonline.com/textarchives/070405/s4.htm" target="_blank">bankruptcy settlements</a>, state <a href="http://www.texasobserver.org/2817-let-there-be-light-a-long-suffering-border-colonia-powers-up-with-renewable-energy/" target="_blank">criminal</a> action and citizen lawsuits helped get the job done. But water was particularly tricky because the shoddy treatment plant McDonald built couldn’t even provide enough water for fire hydrants. </p>
        <p>Things were supposed to change in 2006. </p>
        <h3 id="trouble-from-the-start" target="_blank">Trouble From the Start</h3>
        <p>“Was it ever built correctly? We don’t know,” says Luis Perez-Garcia, the Webb county engineer who took charge of the troubled plant in the spring of 2013. </p>
        <p>With help from the state, Webb County set out to build a top-flight plant, the first in Texas to disinfect water — pulled from one of the Rio Grande’s most <a href="https://www.texastribune.org/2013/10/23/us-and-mexico-struggle-clean-rio-grande/" target="_blank">polluted stretches</a> — by pouring it over fluorescent, ultraviolet lamps. An automated computer system was supposed to sample water and ensure quality.</p>
        <p>Perez-Garcia believes the problems came not from the plant’s design but from an inexperienced construction company trying to cut costs. Many of those who worked on the project — engineers for Webb County, who oversaw it, and staff at the Texas Water Development Board, who helped fund it — left soon after it was finished, taking knowledge of its systems with them.</p>

        <!-- Box Ad -->
        {% include 'app/templates/includes/box_ad.html' %}

        <p>It is unusual for Texas counties to operate water treatment plants, and Webb County has not mustered the political will and financial resources to run its facilities properly, critics say.</p>
        <p>From the beginning, residents grumbled about smelly, strangely colored water. They increasingly complained about gastrointestinal issues and skin rashes, advocates say.</p>
        <p><a href="http://www15.tceq.texas.gov/crpub/index.cfm?fuseaction=iwr.complincdetail&amp;addn_id=800635262002179" target="_blank">Complaints</a> eventually reached the Texas Commission on Environmental Quality (TCEQ). But the state’s pollution enforcement agency had long been aware of the problems. </p>
        <p>Just months after the plant’s 2006 ribbon-cutting, agency investigator Elsa Hull visited and reported that the automated computer system wasn’t working. The water’s turbidity — a key indicator of whether it is drinkable — wasn’t being measured properly. </p>
        <p>A year later, Hull noticed something strange about the way workers at the plant were filling out monthly water quality reports they were required to submit to the TCEQ. At times, the data Webb County sent to the state was different from what Hull saw the operators write in their daily logs. </p>

        <!-- Photo -->
        {{ macro.photo(RIOBRAVO.PHOTO_8, RIOBRAVO.CAPTION_8, RIOBRAVO.PHOTO_CREDIT) }}

        <p>Officials now believe what Hull saw was no accident. In October, the Webb County district attorney’s office indicted eight current and former plant employees for allegedly falsifying the records, including Johnny Amaya, the former water utilities director and a longtime Laredo politician.</p>
        <p>Amaya has pleaded not guilty, and a trial is expected no earlier than March, says his attorney, Fausto Sosa. </p>
        <p>“Instead of trying to fix what was wrong with the plant, they were just reporting rosy numbers,” says Perez-Garcia, who took over as engineer in mid-2013.</p>
        <p>In the first seven years of the plant’s operation, Webb County was <a href="http://dww.tceq.texas.gov/DWW/JSP/Violations.jsp?tinwsys_is_number=6380&amp;tinwsys_st_code=TX&amp;wsnumber=TX2400022   &amp;DWWState=TX" target="_blank">cited</a> more than 20 times by the TCEQ for failing to operate the facility properly and submitting bogus water quality reports to the state. Webb County paid several thousand dollars in fines, and most violations were eventually “resolved,” state records show.</p>
        <p>But after receiving more than a dozen complaints about the water in just two days in the summer of 2013, Hull returned and found conditions worse than she had thought. Many key pieces of equipment were not working. Her tests of the water’s turbidity showed it was three times higher than the level at which the TCEQ requires customers to boil water before using it. Turbidity levels were shown to be high the month before, too, meaning Webb County should have issued a “boil water notice” even earlier, Hull wrote to her bosses. </p>
        <p>Water produced by the plant also tested positive for E. coli bacteria. Even a mouthful of water contaminated with it can cause severe or bloody diarrhea. Infections from E. coli can also cause kidney damage. </p>

        <!-- Block Quote -->
        <div class="block-quote">
          <h2>&ldquo;Instead of trying to fix what was wrong with the plant, they were just reporting rosy numbers.&rdquo;</h2>
          <p>&mdash; Luis Perez-Garcia, Webb county engineer</p>
        </div>

        <p>Webb County was ordered to post notices urging residents of El Cenizo and Rio Bravo to boil their water. Hull sent a scathing email to Perez-Garcia. “Why did the county not issue a Boil Water Notice earlier?” she said. “Who decided to forego a BWN and not protect the customers? This cannot be excused by inexperience or the incompetence of untrained staff.”</p>
        <p>The Laredo Health Department, which at the time provided some public health services to the area, was forced to haul in truckloads of water and go door to door teaching residents how to properly boil the tap water to avoid exposure to harmful bacteria and gastrointestinal diseases. (The department recently ended its contract with the county.)</p>
        <p>The state health department was not involved. While it is responsible for providing services to Rio Bravo and El Cenizo, which don’t have their own health departments, a spokesman for the Texas Department of State Health Services says its office of border health has “no authority or expertise in drinking water.”</p>
        <p>“Drinking water issues are the domain of the local health department and TCEQ,” says agency spokesman Chris Van Deusen.</p>
        <p>After the boil-water notice went out, Webb County officials nonetheless repeatedly told residents of Rio Bravo and El Cenizo that their water was safe to drink, according to state records. Perez-Garcia asked that the boil notice be lifted just a few days after it was issued. State officials refused. </p>

        <!-- Photo -->
        {{ macro.photo(RIOBRAVO.PHOTO_12, RIOBRAVO.CAPTION_12, RIOBRAVO.PHOTO_CREDIT) }}

        <p>“The TCEQ was protecting themselves,” says Perez-Garcia, adding that he believes some of the agency’s sampling was incorrect, and that the water was safe to drink long before the boil-water notice was lifted three weeks later. </p>
        <p>After the notice was lifted, Hull continued to find problems at the plant, including turbidity levels that were far too high, records show. In September 2013, the TCEQ <a href="http://www14.tceq.texas.gov/epic/CIO/index.cfm?fuseaction=search.download&amp;AGY_DKT_NUM_TXT=2013-2014-MLM-E" target="_blank">slapped</a> Webb County with a $60,000 fine for dozens of violations, and demanded that the county fix its automatic computer system and make several other major improvements within 60 days. </p>
        <p>But the county hasn’t made much progress, causing mounting frustration at the agency and within the community. </p>
        <h3 id="taking-matters-into-their-own-hands" target="_blank">Taking Matters Into Their Own Hands</h3>
        <p>In the 1990s, local citizens formed alliances to demand basic services. But by the time the water plant opened, those groups had dissolved, and few knew where to go for help in a community where most speak Spanish. </p>
        <p>“There’s a lot of oppression here, everywhere you turn,” says Karla Tamez, who grew up in El Cenizo and still lives there with her mother and disabled brother. “Especially for people that don’t have documents.” </p>
        <p>In the spring of 2013, Tamez was finishing up a nursing degree and fighting for better trash collection and sewer service in El Cenizo. A course in microbiology made her wonder what was in the water she was drinking. </p>

        <!-- Block Quote -->
        <div class="block-quote">
          <h2>&ldquo;It’s drinking water. At some point, this is essential. This is a basic right.&rdquo;</h2>
          <p>&mdash; Amy Johnson, attorney at RioGrande Legal Aid</p>
        </div>

        <p>Tamez gathered more than 200 signatures to form an activist committee of El Cenizo residents asking for better trash collection, water and sewer services. It was called the Comité de Ciudadanos Unidos de El Cenizo, or the Committee of United Citizens of El Cenizo.</p>
        <p>Through internet searches, she learned how to complain to state regulators. Tamez says TCEQ investigators came to her home to test water and look at broken sewer pipes and overflows nearby. But nothing seemed to change. </p>
        <p>Soon after the infamous 2013 boil water notice, Tamez’s committee joined with a similar group in Rio Bravo to take matters into their own hands. A few months later, with the help of RioGrande Legal Aid, a law firm that represents low-income border residents, they <a href="http://dockets.justia.com/docket/texas/txsdce/5:2014cv00041/1169043" target="_blank">sued</a> Webb County, alleging it had violated the federal Safe Drinking Water Act. </p>
        <p>“The TCEQ hasn’t been as aggressive as you would want them to be,” says attorney Amy Johnson. The agency’s authority and resources might be limited, she says, “but it’s drinking water. At some point, this is essential. This is a basic right.”</p>

        <!-- Photo -->
        {{ macro.photo(RIOBRAVO.PHOTO_3, RIOBRAVO.CAPTION_3, RIOBRAVO.PHOTO_CREDIT) }}

        <p>The lawsuit ended in a settlement requiring the county to <a href="http://webbcountytx.gov/WaterUtilities/MonthlyRegulatoryReporting/SettlementAgreementReporting/default.aspx" target="_blank">post</a> drinking water quality reports online — which it finally started to do in January, several months late. And in community meetings also required by the settlement, RioGrande Legal Aid’s lawyers say they are not encouraged by progress reports on repairs at the plant. </p>
        <h3 id="try-try-again" target="_blank">Try, Try Again</h3>
        <p>Nearly a year and a half after the August 2013 boil-water notice, the plant’s computer system has just begun working. The facility <a href="http://webbcountytx.gov/WaterUtilities/MonthlyRegulatoryReporting/SettlementAgreementReporting/Event11_Summary_Posting.pdf" target="_blank">continues</a> to produce drinking water with turbidity levels exceeding state health standards, though not high enough to trigger another boil-water notice. </p>
        <p>Three of the workers indicted for allegedly falsifying water quality records still work at the plant. Perez-Garcia calls them “basically low-level employees who were acting according to the orders of their administrators.” The administrators no longer work for the county. </p>
        <p>In an interview, TCEQ officials said their options are limited. By statute, all they can do is cite public water systems — of which there are nearly 7,000 in Texas — for violations, issue fines and attempt to resolve them. </p>
        <hr class="yellow">
      </section>
      {{ macro.slider(RIOBRAVO_SLIDER) }}
      <section class="prose">
        <hr class="yellow">
        <p>“You’ve got to look at what authority the Legislature’s given to everybody. They’re ultimately the ones responsible if they want to step in and do something,” says Steve Niemeyer, head of border affairs for the agency. “We just do what we’re told, given the authority we have.” </p>
        <p>Even with a faulty water plant, the people of Rio Bravo are better off than other border communities, officials point out. Some public water systems are so small and remote that there’s no address to mail a notice of violation to, and nobody to answer the phone. </p>
        <p>“We were in communication, and we still continue to be in communication with the county. They’re still talking to us, they’re working with us, to try to achieve compliance,” says David Ramirez, director of the border and Permian Basin regional offices for the TCEQ. “We can’t ask for more than that.” </p>
        <section class="newsletter-signup">
          <hr>
          <header>
            <h4 class="sub-section-header">Sign up for Trib+Water, a bi-weekly newsletter on top news, events, research and data on water issues in Texas, the region and nation.</h4>
          </header>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//texastribune.us3.list-manage.com/subscribe/post?u=3d0ce87edeeb6df90043897db&amp;id=9d67bbb694" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_3d0ce87edeeb6df90043897db_9d67bbb694" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
          </div>
          <!-- https://us3.admin.mailchimp.com/lists/integration/embeddedcode?id=271841 -->
          <!--End mc_embed_signup-->
          <hr>
        </section>
        <p>Democratic state Sen. <a href="http://www.texastribune.org/directory/judith-zaffirini/" target="_blank">Judith Zaffirini</a>, whose Laredo-based district includes the two communities, says the TCEQ filled its oversight role by responding to citizen complaints, investigating the plant and imposing “substantial penalties” for violations. </p>
        <p>She acknowledges that multiple fines haven’t resolved issues at the plant, but stops short of claiming lawmakers should give the TCEQ more power.</p>
        <p>“When you see that penalties are no longer deterrents, it’s important to look into the situation and find out why not,” Zaffirini says, adding: “This was not a problem that simply blossomed and the government stepped in. It was unscrupulous developers who caused this problem, and somehow the focus has been lost as if it were always a government issue. It wasn’t.”</p>
        <p>Progress is slow on major repairs at the plant, which Perez-Garcia blamed on the death of a contractor. He added that finding qualified workers is a challenge because the oilfields are luring them away. The plant has been unable to fill seven open jobs, he says. </p>

        {{ macro.photo(RIOBRAVO.PHOTO_13, RIOBRAVO.CAPTION_13, RIOBRAVO.PHOTO_CREDIT) }}

        <p>Last fall, residents of Rio Bravo and El Cenizo got more bad news — they will soon <a href="http://www.kgns.tv/home/headlines/El-Cenizo-Rio-Bravo-residents-could-see-increase-in-water-bills-282156341.html" target="_blank">be paying far</a> more for water service. County officials say they’ve long been subsidizing the plant, at a cost mostly to residents in neighboring  Laredo, and can no longer afford to do so. That means the average household water bill could double, from $350 annually today to $700. On top of that, Webb County is asking for millions of dollars in loans from the state to make repairs to the treatment plant, which will raise average water bills by several hundred more dollars over time.</p>
        <p>RioGrande Legal Aid’s lawyers say that after decades of trying to help the communities, what they’ve seen happen in Rio Bravo and El Cenizo is unique. Failed public works projects aren’t uncommon, but faked water quality reports are rare. </p>
        <p>What’s happened “has a lot to do with the disenfranchisement and the marginalization of those communities,” says RioGrande Legal Aid attorney Israel Reyna. Webb County’s government is focused on the urban center of Laredo, he says, and few pay attention to the dozens of colonias and former colonias in the county. </p>
        <p>New local leaders say they are hoping to win back community trust. Webb County Judge Cayetano “Tano” Tijerina, sworn in in January, says it’s time to move on from the politics that “absolutely” played a role in the “sad situation” the people of Rio Bravo and El Cenizo were left to deal with.</p>
        <p>“I think it was very much mishandled. It was something that could’ve definitely been avoided, and that’s the hardest part,” Tijerina says. “But we’re not here to point any fingers. Now it’s how we’re going to mend the fences.”</p>
        <p class="sub-section-header">This project was crowdfunded via Beacon Reader. To review donors to the project, click <a href="http://www.beaconreader.com/pitches/undrinkable">here</a>.</p>
        <hr class="yellow">
        <header>
          <h3>Contributors</h3>
        </header>
        <p>This website was designed and developed by <a href="mailto:baaronson@texastribune.org">Becca Aaronson</a>, <a href="mailto:ealbracht@texastribune.org">Emily Albracht</a> and <a href="mailto:bhasson@texastribune.org">Ben Hasson.</a></p>
      </section>
    </div>
  </div>
</div>

{% endblock %}
